@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);


/*Site Basics*/

* {box-sizing: content-box}

html, body {width: 100%;
}

body {
	margin: 0;
	padding: 0; 
	font-family: 'Quattrocento Sans', sans-serif;
}



/*Primary Content*/

.hero {
		position: relative; 
		text-align: center;
}

.hero-content {
		display: block; 
		position: relative; 
		z-index: 9999;
}

.parallax {
  text-align: center;
  padding: 13em 0;
  color: white; 
  overflow: hidden;
}

.parallax h1 {
	font-size: 8em; 
	text-shadow: 1px 1px 2px black; 
	margin-bottom: 2px;
	color: #C2C2C9;
	/*border: 6px solid white;*/
	opacity: .65;
}

.parallax p {
		font-family: avenir, sans-serif; 
		font-size: 1em; 
		text-transform: uppercase; 
		letter-spacing: 0.1em; 
		font-weight: normal; 
		color: white; 
		display: block;
		/*text-shadow: 0 1px 0 rgba(255,255,255,0.75);*/
}







/*Main Images*/

.chicago1 {
	background: url('../images/chicago1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.chicago2 {
	background: url('../images/chicago2.jpg');
	/*background-clip: content-box;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.chicago3 {
	background: url('../images/chicago3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}

.chicago4 {
	background: url('../images/chicago4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
}


.spacer {
	display: block; 
	color: #333; 
	font-family: arial, sans-serif; 
	padding: 3em 0;
}

.spacer h3 {
		font-family: 'Fjalla One', sans-serif; 
		font-size: 2em; 
		margin-bottom: 15px;
}

.spacer p {
		font-size: 15px; 
		line-height: 22px; 
		margin-bottom: 15px;
}




/*Button Information*/

button {
		border: 1px solid #aaa; 
		padding: 0.75em 1.5em; 
		border-radius: 4px; 
		background: none; 
		font-size: 1.25em; 
		color: #555; 
		display: inline-block; 
		margin-right: -5px; 
		vertical-align: top;
}

button:hover {
		background: #00ace9; 
		color: white; 
		border-color: #00ace9; 
		cursor: pointer;
}

button.danger {
		margin-left: 25px; 
		background: #d30; 
		color: white; 
		border-color: #d30;
}

button.danger:hover {
		background: #a00; 
		border-color: #a00;
}

.container {
		max-width: 960px; 
		margin: 0 auto; 
		width: 100%;
}

.centered {
		text-align: center; 
		padding-bottom: 3.75em;
}


/*Responsiveness and Media Queries*/



